@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown__arrow:where(details > summary)::after {
  justify-self: end;
  display: block;
  margin-top: -0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  transform: rotate(45deg);
  transition-property: transform, margin-top;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  transform-origin: 75% 75%;
  box-shadow: 2px 2px;
  pointer-events: none;
}

.dropdown__arrow:where(details[open] > summary)::after {
  transform: rotate(225deg);
  margin-top: 0;
}

.image-gallery-image {
  aspect-ratio: 4 / 3 !important;
}

.image-gallery-thumbnail-image {
  aspect-ratio: 1 / 1 !important;
  object-fit: cover !important;
}
